/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
    box-sizing: border-box;
  }
  
  .buttons {
    background: darkgray;
    display: flex;
    justify-content: space-evenly;
  }
  
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }
  li {
    background-color: lightgray;
    margin-bottom: 10px;
  }
  
  p {
    text-align: center;
  }