/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-size: calc(.75em + 1vw);
    color:  black;
}
  
body {
  margin-top: 10%;
  background:  url('Background-image.jpg');
  background-size: cover;
  height: auto;
}

button {
  border-radius: 8px;
  background-color: #d6b220
}

button:hover {
  background-color: #a3850a;
}

.buttons {
  margin: 35px;
  display: flex;
  justify-content: space-evenly;
    
}

.add-button {
  margin-right:  15px;
}  

.error-container, .delete-button {
  background-color: tomato;
  border-radius: 6px;
}

.error-messge {
  text-align: center;
}
#main-title {
  font-family: 'Hind Vadodara', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
li {
  margin-bottom: 15px;
}
  .bookmark-element {
    background-color: #eddada;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 25px;
  }


  .entry-item {
    margin-bottom: 10px;
    border: 5px solid slategray;
    border-radius: 15px;
    height: 50px;
    word-wrap: break-word;
  }

  #description-input {
    height: 100px;
  }
  
  p {
    text-align: center;
  }

  .form-buttons {
    display: flex;
    justify-content: space-between;
  }

#bookmark-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}